.main-container {
  header,
  .input-container {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 4rem;
  }

  .input-container {
    input,
    button {
      padding: 0.5rem;
      border: none;
      background: white;
      font-size: 1.5rem;
    }

    button {
      cursor: pointer;
      color: #614385;
      transition: all 0.3s ease-in;
    }

    button:hover {
      background-color: #a67cd8;
      color: #fff;
    }
  }
}
